/* CSS declarations go here */
body {
	font: normal 1.1em/1.5 sans-serif;
	color:222;
	background-color:#edeff0;
}

html,
body,
.main-wrapper,
.col{
	height: 100%;
}

/*.main-wrapper{
	width:90%;
	margin: auto;
}
*/
a, u {
    text-decoration: none !important;
    color: black;
}
a:hover {
	background: #55a1c8;
}

*{
	box-sizing: border-box;
}
.main-header       { background-color: #384047; }
.main-logo         { background-color: #5fcf80; }
.main-nav li       { background-color: #3f8abf; }
.primary-content   { background-color: #caebf6; }
.secondary-content { background-color: #bfe3d0; }
.main-footer       { background-color: #b7c0c7; }

.main-wrapper {
	width: 90%;
	margin: auto;
}

.main-header {
	padding: 15px;
	min-height: 150px;
}

.main-banner{
	background: #ebedee;
	text-align: center;
	padding: 35px 15px;
}
.slug-banner{
	background: #ebedee;
}

.main-logo,
.main-nav,	
.main-nav li {
	display: inline-block;
}

.main-logo,
.main-nav, {
	float: left;
}

.main-nav li {
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;

}

.main-logo,
.main-nav li{
	border-radius: 5px;
}

.main-logo{
	/*float: left;*/
	margin: 24px 30px 0 0;

}

.main-logo a, 
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
}

.col {
	display: inline-block; 
	padding: 20px;
	margin-right: -5px;
	vertical-align: top;	
}
.primary-content{
	width: 60%;
}
.secondary-content{
	width: 40%;
}
.main-footer{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#runner {
	max-width: 75px;
	/*position:absolute;*/
	/*z-index: 100;*/
	/**/
}

@media(max-width: 768px){
	.main-logo,
	.main-nav,
	.main-nav li
	.col {
		display: block;
		width: initial;
		margin: initial;
		height: initial;
	}
	.main-nav{
		padding-left: initial;
	}
	.main-nav li {
		margin-top: 15px;
	}
	.main-banner {
		display: none;
	}
}







